/*
    Estilos do conteúdo
*/

/* Padrões do conteúdo */
#content { 
    width: 910px;
    padding: 10px;
    overflow: hidden;
    margin: 20px auto;
    background: #FFF;
}

#sub-content {
    width: 601px;
    float: right;
}

#sub-content h1 {
    font: 190% 'News Cycle', arial, sans-serif;
    color:#017ec5;
    padding:10px 8px;
}

#sub-content h3 {
    color:#017ec5;
    font-weight: normal;
    margin: 14px 0 0 8px;
}

#sub-content h4 {
    margin: 14px 0 0 8px;
}

#sub-content p {
    line-height:20px;
    font-size:12px;
    text-align: justify;
    margin:5px;
    color:#444;
    padding:5px;
}

/* Tabelas */
table#tb-padrao {
    margin: 15px 9px;
    width: 375px;
    font-size: 14px;
    color:#000;
}

table#tb-padrao tr td {
    border: solid 1px #CCC;    
    color:#333;
    padding:4px;
}


/* Home */
object.banner {
    width: 600px !important;
    height: 180px !important;
    float: right;
}

/* Matrícula */
form#form-matricula {
    /*border: solid 1px #000;*/
}

form#form-matricula label {
    color: #999;
    float: right;
}

form#form-matricula table {
    /*border: solid 1px #000;*/
    margin-top: 10px;
}

form#form-matricula table tr td {
    /*border: solid 1px #000;*/
}

form#form-matricula input[type=text],
form#form-matricula input[type=password] {
    border: solid 1px #999;
    width: 400px;
    margin: 4px 7px;
    /*color: #017ec5;*/
}

form#form-matricula input[type=text]:focus,
form#form-matricula input[type=password]:focus {
    border: solid 1px #017ec5;    
}

form#form-matricula select {
    margin: 4px 7px;
}