/*
Estilos do conteúdo
*/

#content { 
    /*border: solid 1px #017ec5;*/
    width: 930px;
    height: 200px;
    overflow: hidden;
    margin: 20px auto;
    background: #FFF;
}

/* Home */
object.banner {
    width: 600px !important;
    height: 180px !important;
    margin: 5px;
    float: right;
}

