/*
Estilos de fonte
*/

@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
}

body {
    font: normal .80em arial, sans-serif;
    background: #000 url("../images/fundo.png");
    color: #444;
}

#main {
    /*border:solid 1px #666;*/
    width: 932px;
    margin: 0 auto;
}






