/*
    Estilos do rodapé
*/

footer { 
  width: 928px;
  font: 120% 'News Cycle', arial, sans-serif;
  height: 30px;
  padding: 12px 0 12px 0;
  margin-bottom: 40px;
  color: #FFF;
  text-align: center;
  background: #017ec5; /* Mostrar cor sólida pra browsers antigos */
  background: -moz-linear-gradient(#63a0c2, #017ec5);
  background: -o-linear-gradient(#63a0c2, #017ec5);
  background: -webkit-linear-gradient(#63a0c2, #017ec5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #017ec5;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}