/*
    Estilos do menu vertical
*/

#left {
    border-right: solid 1px #cbcaca;
    border-right-style: dotted;
    width: 295px;
    float: left;
}

ol#nav-left  {
    background: url("../images/folha.jpg") no-repeat top left;
    height: 255px; 
    width: 165px;
    padding: 35px 35px 0 50px;
}

ol#nav-left li {
    padding: 5px 0;
}

ol#nav-left li a {
    text-decoration: none;    
    color: #000;
    font: 130% 'News Cycle', arial, sans-serif;
    font-style: italic;
}

ol#nav-left li a:hover {
    color: #017ec5;
}