/*
Estilos do do menu horizontal
*/

nav { 
  height: 44px;
  width: 928px;
  float: right;
  color: #222;
  background: #017ec5; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#63a0c2, #017ec5);
  background: -o-linear-gradient(#63a0c2, #017ec5);
  background: -webkit-linear-gradient(#63a0c2, #017ec5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #017ec5;
  float: left;
}

/* Posições dos componentes de menu */
ul.sf-menu, ul.sf-menu * { 
    margin: 0;
    padding: 0;
}

ul.sf-menu { 
    display: block;
    position: relative;
}
  
ul.sf-menu li {
    display: block;
    list-style: none;
    float: left;
    position: relative;
}
  
ul.sf-menu li:hover { 
    visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
    display: block;
    position: relative;
}
  
ul.sf-menu ul { 
    position: absolute;
    left: 0;
    width: 160px; 
    top: auto;
    left: -999999px;
}
  
ul.sf-menu ul a { 
    zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
    float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
    width: 160px;
}
  
ul.sf-menu ul ul { 
    top: 0;
    margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
    left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
    left: -999999px;
}

/* Símbolo do drop down */
span.sf-arrow { 
    width: 7px;
    height: 7px;
    position: absolute;
    top: 20px;
    right: 5px;
    display: block;
    background: url(../images/arrows-white.png) no-repeat 0 0;
    overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
    font-size: 1px;
}

ul ul span.sf-arrow { 
    right: 5px;
    top: 20px;
    background-position: 0 100%;
}

/* Definir componentes do menu */
ul#nav { 
    float: left;
}

ul#nav ul { 
    background: #017ec5;
    margin-top: 4px;
    padding-bottom: 15px;
}

ul#nav li a { 
    padding: 9px 15px 4px 15px;
    font: 120% 'News Cycle', arial, sans-serif;
    text-decoration: none;
    color: #FFF;
    margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus { 
    color: #000;
    text-shadow: none;
}

ul#nav ul li a { 
    color: #FFF;
}

ul#nav ul li a:hover { 
    color: #000;
    margin-right: 2px;
}