*{
    font-family: Arial;
    list-style: none;
}

body{
}

a{
    text-decoration: none;
}

h4{
    margin-top: 0;
    font-weight: normal;
    color:#900;
}

/******Pagina de login****/

#erro{
    font-size: 11px;
    color:#bf1313;
}

#caixaLogin{
    border: solid 1px #CCC;
    border-radius:1em; 
    box-shadow: 0.4em 0.4em 1em #CCC;   
    background: url("../_imagens/logo.png") no-repeat top center;
    margin: 100px auto;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 250px;
}

#caixaLogin table{
    margin: 0 auto;
}

#caixaLogin label{
    font-size: 12px;
    font-weight: bold;
}

#caixaLogin input[type=submit]{
    border-radius: 0.4em;
    border:solid 1px #FFF;
    background: #666;
    padding: 5px 10px;
    color:#FFF;
}

#caixaLogin input[type=submit]:hover{
    background: #333;    
}



/*******Padrao******/

#tudo{
    border:solid 0px #666;
    background: url("../_imagens/logo.png") no-repeat top left;
    width: 800px;
    height: 500px;
    margin: 0 40px;
    padding-top: 100px;
    float: left;
}

#caixa{
    border: solid 5px #CCC;
    border-style: dotted;
    height: 400px;
    width: 800px;    
    float: left;
}

ul{
    border:solid 0px #000;
    padding: 0;
    margin: 0;
    float: left;
}

ul li{
    background: #CCC;
    font-size: 14px;
    text-align: center;
    border:solid 1px #CCC; 
    height: 30px;
    width: 120px;
    line-height: 27px;
    margin-right: 2px;
    float: left;
}

ul li a{
    color:#FFF;
    height: 30px;
    font-weight: bold;
    display: block;
}

ul li a:hover{
}

#logout{
    color:#666;
    float: right;
}
#logout:hover{
    text-decoration: underline;
}


/********Lista de alunos, contatos e depoimentos********/

#table_lista{
    font-size: 14px;
}

#table_lista tr td{
    padding: 4px;    
}

#table_lista thead{
    padding: 4px;
    background: #CCC;
    color: #FFF;
    text-align: center;
}

#table_lista tr td.titulo{
    width: 200px;
}

#table_lista tbody tr td{
    color:#666;
    border-bottom: solid 1px #96a8df;
    border-bottom-style: dotted;
}

#table_lista tbody tr:hover{
    background: #CCC;
}

#table_lista tbody tr td a:hover{
    text-decoration: underline;
}

a#aluno{
    color:#666;
}

a.link{
    font-size: 12px;
    color: #b51412;
}

#table_lista tfoot{
    background: #CCC;
}

.pag{
    border:solid 0px black;
    background: #666;
    padding: 4px;
    margin-top: 10px;
    margin-right: 4px;
    font-weight: bold;
    color: #FFF;    
    float: left;
}

.pag:hover{
    background: #900;
}








/*********Formulario do aluno*********/

form#form_matricula{
        margin-top: 30px;
        font-size:11px;
        width: 750px;
        float: left;}

form#form_matricula fieldset{
        padding:10px;
        border:solid 1px #CCC;
        width: 625px;
        margin-left:5px;
        margin-bottom: 10px;
        float: left;}

form#form_matricula fieldset legend{
        font-size:14px;
        font-weight:bold;
        color:#000;	
        padding:0 2px;}

form#form_matricula table{
        margin:0 auto;
        width:600px;
        float: left;}

form#form_matricula table tr .td_texto{
        color:#666;
        padding-right:10px;
        text-align:right;}

form#form_matricula table tr td label{
        color:#666;
        font-size:10px;}

form#form_matricula input, form#form_matricula select{
        border:solid 1px #666;
        padding:2px 3px;	
        outline:none;}

form#form_matricula input[type=text], form#form_matricula input[type=password]{
        width:150px;}

form#form_matricula input:focus, form#form_matricula select:focus, 
form#form_matricula input:hover, form#form_matricula select:hover{
        border:solid 1px #900;}

form#form_matricula input[type=submit],
form#form_matricula input[type=button]{
        border:0;
        background-color:#999;
        color:#FFF;
        margin-left:2px;
        margin-bottom: 10px;
        width: 65px;
        padding:5px 10px 5px 10px;
        float: right;}

form#form_matricula input[type=submit]:hover,
form#form_matricula input[type=button]:hover{
        background-color:#900;}	



/**********Formulario de contato*********/

#form_contato{
        background:url(../_imagens/carta.png) no-repeat right top;
        margin:5px 12px;
        width: 700px;
        padding:20px;
        float:left;}

#form_contato table{
    float: left;
}

#form_contato label{
        color:#666;
        font-size:12px;
        width: 80px;
        text-align: right;
        float:right;}

#form_contato input[type=text]{
        border:solid 1px #7f8089;
        width:300px;
        height:20px;
        margin-left:10px;}

#form_contato input[type=text]:hover{
        border:solid 1px #900;}

#form_contato input[type=text]:focus{
        outline:none;
        border:solid 1px #900;}

#form_contato textarea{
        border:solid 1px #7f8089;
        margin:0 0 10px 10px;
        padding:5px;
        min-width:290px;
        min-height:230px;}

#form_contato textarea:hover{
        border:solid 1px #900;}

#form_contato textarea:focus{
        outline:none;
        border:solid 1px #900;}

#form_contato input[type=submit], 
#form_contato input[type=button]{
        border:0;
        background-color:#999;
        color:#FFF;
        margin-left:2px;
        padding:5px 10px 5px 10px;}

#form_contato input[type=submit]:hover, 
#form_contato input[type=button]:hover{
        background-color:#900;}

#form_contato div{
    width: 275px;
    float: right;
}








/************Formulario de depoimento**************/

#form_depoimento{
        margin:5px 12px;
        width: 700px;
        padding:20px;
        float:left;}

#form_depoimento table{
    float: left;
}

#form_depoimento label{
        color:#666;
        float: right;
        margin-right: 10px;
        font-size:12px;}

#form_depoimento input[type=text]{
        border:solid 1px #7f8089;
        width:300px;
        height:20px;}

#form_depoimento input[type=text]:hover{
        border:solid 1px #900;}

#form_depoimento input[type=text]:focus{
        outline:none;
        border:solid 1px #900;}

#form_depoimento textarea{
        border:solid 1px #7f8089;
        padding:5px;
        min-width:290px;
        min-height:250px;}

#form_depoimento textarea:hover{
        border:solid 1px #900;}

#form_depoimento textarea:focus{
        outline:none;
        border:solid 1px #900;}

#form_depoimento input[type=submit],
#form_depoimento input[type=button]{
        border:0;
        background-color:#999;
        color:#FFF;
        margin-left:2px;
        padding:5px 10px 5px 10px;}

#form_depoimento input[type=submit]:hover,
#form_depoimento input[type=button]:hover{
        background-color:#900;}

#form_depoimento div{
    width: 275px;
    float: right;
}