
<IfModule mod_rewrite.c> 
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^projetochance.org.br [NC]
    RewriteRule ^(.*)$ http://www.projetochance.org.br/$1 [r=301,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*).html$ $1\.php [NC,L]
</IfModule> 
