@charset "utf-8";
/* CSS Document */
*{
	list-style:none;
 	text-decoration:none;
 	padding:0;}
	
img{
	border:none;}
	
body{
	margin:0;
	background:url(../_imagens/fundo.jpg);
 	font-family:Arial, Helvetica, sans-serif;}

#carregando{
	background:url(../_imagens/carregando3.gif) no-repeat center;
	height:195px; 
	width:260px;
	float:left;}

/*div#funcoes_desativadas{
	border:solid 2px #900;
	color:#FFF;
	font-size:11px;
	text-align:center;
	font-weight:bold;
	background:#666;
	height:40px;
	width:100%;
	margin:0 auto;}	*/

div#site{
	width:100%;
	float:left;}

div.centraliza{
	width:1024px;
	margin:0 auto;}

div#partesuperior{
	width:1024px;
	margin:0;
	background:url(../_imagens/fundosuperior.png) no-repeat top center #FFF;
	float:left;}
	
div#parteinferior{
	width:1024px;
	margin:0;
	background:#FFF;
	float:left;}
	
div#menusuperior{			
	width:999px;
	height:40px;
	float:left;
	padding-left:25px;}
		
div#menusuperior li{
	color:#d9dadb;
	float:left;
	margin-top:8px;
	padding:0;}
	
div#menusuperior li a{
	text-decoration:none;
	color:#FFF;
	font-size:11px;
	padding:2px;
	margin:0;}
	
div#menusuperior li a:hover{
	background:#FFF;
	color:#3b7190;}

div#data{
	height:auto;
	width:500px;
	text-align:right;
	font-size:11px;
	font-weight:bold;
	margin:15px 35px 0 0;
	color:#FFF;
	float:right;}

div#logo{
	width:202px;
	height:110px;
	margin-left:10px;
	float:left;}

div#logo a{
	border:none;
	text-decoration:none;}
	
div#banner{
	border:solid 0px #666;
	margin-top:35px;
	width:780px;
	height:75px;
	float:right;}

div#banner_home{
	height:275px;
	width:270px;
	float:left;}
	
div#meio{
	border:solid 0px #333;
	height:60px;
	width:1024px;
	margin:0 auto;}
	
div#menuhorizontal{
	float:right;}
	
div#menuhorizontal div{
	background:url(../_imagens/menu.png) no-repeat;
	border:solid 1px #999;
	font-size:12px;
	text-align:center;
	width:120px;
	float:right;
	margin:0 1px;
	padding:7px 5px;}
	
div#menuhorizontal div a{	
	font-weight:bold;
	color:#003;}
	
div#menuhorizontal div a:hover{
	color:#900;}
	
div#menuhorizontal input[type=text]{
	float:left;
	margin:0;}

div#busca{
	margin:15px;
	float:left;}

div#busca input[type=text]{
	border-top:solid 2px #999;
	border-left:solid 2px #999;	
	text-align:center;
	width:180px;
	padding:2px 4px;}

::-webkit-input-placeholder {
   color:#003;}

div#busca input[type=submit]{
	padding:3px 5px;}
	
div#busca2{
	background:url(../_imagens/busca2.png) no-repeat top left;
	width:175px;
	height:35px;
	margin-top:20px;
	float:left;}

div#busca2 input[type=text]{
	border-top:solid 2px #999;
	border-left:solid 2px #999;
	font-size:11px;
	text-align:center;
	width:90px;
	margin:6px 0 0 20px;
	padding:2px 5px;
	float:left;}
	
div#busca2 input[type=submit]{
	margin-top:5px;
	padding:2px;
	float:left;}	

ul#resultado_busca{
	margin-top:25px;	}

ul#resultado_busca li{
	border-bottom:solid 1px #CCC;
	margin-bottom:20px;}

ul#resultado_busca li:hover{
	border-bottom:solid 1px #900;}

ul#resultado_busca li p{
	margin:0;}

iframe#curtir{
	margin:5px;
	overflow:hidden;
	width:250px;
    height:25px;
	float:right;}
	
div#barracentral{
	border-bottom:solid 1px #999;
	background:url(../_imagens/meio.jpg) repeat-x;
	height:62px;
	width:100%;
	float:left;}

div#esquerdo{
	width:260px;
	float:left;}

div#menuvertical{
	background:url(../_imagens/caderno_azul_pequeno.jpg) no-repeat;
	float:left;
	margin-top:5px;
	padding:22px 0 0 50px;
	height:290px;
	width:200px;
	float:left;}	

div#menuvertical div{
	border-bottom:solid 1px #999;
	padding:10px 7px 4px 7px;
	height:21px;
	width:150px;}

div#menuvertical div a{
	font-family:Monotype Corsiva;
	text-align:justify;
	font-size:large;
	color:#039;}
	
div#menuvertical div a:hover{
	color:#006;
	font-weight:bold;}

div#carregando{
	margin:0 auto 280px 170px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#666;}

form#form_contato{
}

form#form_matricula{
	font-size:11px;}

form#form_matricula fieldset{
	-webkit-border-radius:0.7em;
	-moz-border-radius:0.7em;
	-o-border-radius:0.7em;
	padding:10px;
	border:solid 1px #333;
	margin:0 auto 20px auto;}

form#form_matricula fieldset legend{
	font-size:14px;
	font-weight:bold;
	color:#000;	
	padding:0 2px;}

form#form_matricula table{
	margin:0 auto;
	width:600px;}
	
form#form_matricula table tr .td_texto{
	color:#666;
	padding-right:10px;
	text-align:right;}

form#form_matricula table tr td label{
	color:#666;
	font-size:10px;}
	
form#form_matricula input, form#form_matricula select{
	/*-webkit-border-radius:0.4em;*/
	border:solid 1px #666;
	padding:2px 3px;	
	outline:none;}

form#form_matricula input[type=text], form#form_matricula input[type=password]{
	width:150px;}

form#form_matricula input:focus, form#form_matricula select:focus, 
form#form_matricula input:hover, form#form_matricula select:hover{
	border:solid 1px #900;}

form#form_matricula input[type=submit]{
	border:0;
	background-color:#999;
	color:#FFF;
	margin-left:2px;
	padding:5px 10px 5px 10px;}
	
form#form_matricula input[type=submit]:hover{
	background-color:#900;}	

#marq{
	border:solid 1px #666;
	height:120px;
	width:200px;
	margin:0 20px;
	float:left;}
	
div#content{
	border-right:solid 1px #666;
	border-left:solid 1px #666;
	border-right-style:dotted;
	border-left-style:dotted;
	float:left;
	margin:20px 0;
	width:640px;
	min-height:400px;
	padding:0 5px;}
	
div#content a{
	text-decoration:none;
	color:#C00;
	margin-left:10px;}
	
div#content a:active{
	color:#009;}

div#content h1{
	font-family:Monotype Corsiva;
	font-size:30px;
	color:#3b7190;
	margin:0;
	padding:5px;}

div#content h2{
	font-size:17px;
	border-bottom:solid 1px #CCC;
	color:#666;
	margin:20px 0 0 10px;}

div#content h3{
	font-size:20px;
	color:#000;
	margin:0;
	padding:5px;}

div#content h4{
	font-size:14px;
	color:#48a8b8;
	margin:0;
	padding:5px;}
	
div#content p{
	line-height:20px;
	font-size:12px;
	margin:5px;
	color:#333;
	padding:5px;}

div#content1{
	border:solid 1px #CCC;
	float:left;
	margin:15px 0 0 15px;
	height:auto;
	width:577px;
	padding-bottom:15px;
	padding-top:15px;}
	
div#content1 a{
	text-decoration:none;
	color:#06F;
	margin-left:10px;}
	
div#content1 a:hover{
	text-decoration:underline;
	color:#06F;}

div#content1 h1{
	font-size:20px;
	color:#06F;
	margin:0;
	padding:5px;}
	
div#content1 h2{
	font-size:16px;
	color:#000;
	margin:0;
	padding:5px;}
	
div#content1 h3{
	font-size:20px;
	color:#000;
	margin:0;
	padding:5px;
	}

div#content1 h4{
	font-size:14px;
	color:#06F;
	margin:0;
	padding:5px;}
	
div#content1 p{
	font-size:14px;
	color:#000;
	margin-left:-5px;
	margin-top:0;
	padding:5px;
	float:left;}





div.info_home{
	width:300px;
	margin-left:10px;
	float:left;}


div.info_home p{
	font-size:11px;
	margin-top:0;}

div#texto_inscricoes{
	width:260px;
	float:left;
	font-size:medium;
	padding:0 5px;}
	
div#texto_inscricoes b{
	font-size:medium;}

div#texto_inscricoes h2{
	margin-top:0;}
	
.not{
	font-size:11px;
	border-bottom:solid 1px #999;
	margin:0 0 5px 10px;;
	width:auto;
	float:left;}
	
div.not a:hover{
	text-decoration:underline;}
	
#tb_enquete{
	width:100%;
	font-size:11px;
	margin:30px 0;
	float:left;}

#tb_enquete input[type=submit]{
	float:right;
	padding:5px;}
	
	
	
	
	
	
form[name=form1]{
	background:url(../_imagens/carta.png) no-repeat right top;
	margin:5px 12px;
	padding:20px;
	float:left;}

form[name=form1] label{
	color:#333;
	font-size:12px;
	float:right;}
	
form[name=form1] input[type=text]{
	border:solid 1px #7f8089;
	width:300px;
	height:20px;
	margin-left:10px;}

form[name=form1] input[type=text]:hover{
	border:solid 1px #900;}

form[name=form1] input[type=text]:focus{
	outline:none;
	border:solid 1px #900;}

form[name=form1] textarea{
	border:solid 1px #7f8089;
	margin:0 0 10px 10px;
	padding:5px;
	width:400px;
	height:100px;
	min-width:400px;
	min-height:100px;}

form[name=form1] textarea:hover{
	border:solid 1px #900;}

form[name=form1] textarea:focus{
	outline:none;
	border:solid 1px #900;}

form[name=form1] input[type=submit], form[name=form1] input[type=reset]{
	border:0;
	background-color:#999;
	color:#FFF;
	margin-left:2px;
	padding:5px 10px 5px 10px;}

form[name=form1] input[type=submit]:hover, form[name=form1] input[type=reset]:hover{
	background-color:#900;}


/*//////////PORTAL DO ALUNO/////////////*/

ul#portal h2, ul#portal2 h2{
	margin-top:0;
	margin-bottom:10px;}
	
ul#portal{
	border:solid 0px #666;
	border-right:solid 1px #666;
	width:280px;
	min-height:400px;
	float:left;}

ul#portal li{
	border:solid 0px #666;}

ul#portal li p{
	padding:0 7px;}

ul#portal li a{
	margin-left:0;}
	
ul#portal li a:hover{
	text-decoration:underline;}
	
ul#portal2{
	border:solid 0px black;
	float:left;}

ul#portal2 li{
	border:solid 0px black;}

div#fotoPerfil{
	width:120px;
	height:150px;
	margin-left:10px;
	background:url(../_imagens/sem-foto.png) no-repeat;}

div#fotoPerfil:hover{
	background:url(../_imagens/alterar-foto.png) no-repeat;}

form[name=form2]{
	text-align:right;}

form[name=form2] input[type=text], form[name=form2] input[type=password]{
	padding:5px;}
	
form[name=form2] #tb1{
	border-right:solid 1px #006;
	border-right-style:dotted;
	padding:0 35px 0 20px;
	float:left;}
	
#tb2{
	text-align:left;
	padding-left:35px;
	float:left;}
	
form[name=form2] table tr td label{
	font-size:14px;}

form[name=form2] input[type=submit]{
	padding:5px;}

p#contato{
	border:none;
	width:550px;
	float:left;}

ul#listaimg{
	margin:0;
	padding:0;
	float:left;}

img#imagem{
	height:195px; 
	width:260px;}

ul#listaimg li.img{
	padding:10px 7px 7px 0;
	float:left;}

img#imagem1{
	height:420px; 
	width:320px;
	margin:10px;
	float:left;}
	
img#imagem2{
	height:195px; 
	width:262px;
	margin:10px;
	float:right;}

div#pags{
	border:none;
	text-align:right;
	margin-top:20px;
	width:562px;
	float:left;}
	
div#pags a:hover{
	text-decoration:underline;}
	
div#video{
	border:none;
	margin-top:30px;
	width:574px;
	float:left;}
	
img#parceiros{
	margin:10px;}
	
a img#parceiros{
	border:none;}
	
a:hover img#parceiros{
	border:solid 0px #903;}

.tb_portal, #tb_portal_logado{
	margin-top:4px;
	color:#3b7190;
	height:55px;
	font-size:10px;
	float:left;}	

#tb_portal_logado{
	margin-left:10px;}

.tb_portal input[type=image]{
	margin:5px;}
	
.tb_portal input[type=text], .tb_portal input[type=password]{
	text-align:center;
	border-top:solid 2px #999;
	border-left:solid 2px #999;
	margin:0 5px;
	width:120px;}
	
.tb_portal a, #tb_portal_logado a{
	text-decoration:none;
	font-weight:bold;
	color:#3b7190;
	font-size:9px;}
	
.tb_portal a{
	margin:5px 0 0 15px;}
	
#tb_portal_logado a{
	margin-top:5px;}

.tb_portal a:hover, #tb_portal_logado a:hover{
	text-decoration:underline;}
	
div#interatividade{
	padding-top:0px;
	float:right;}

div#interatividade a{
	border:none;}

div#direito{
	text-align:left;
	height:auto;
	float:right;
	width:85px;
	margin:15px 10px 0 0;}

div#direito a{
	font-size:12px;
	color:#000;
	font-weight:normal;}
	
div#direito a img{
	text-decoration:none;
	border:none;}
	
div#direito a:hover{
	text-decoration:underline;}
	
div#direito h2{
	font-size:14px;
	font-weight:bold;
	color:#3b7190;
	border-bottom:solid 1px #3b7190;
	margin-top:5px;}
		
img.redes{
	margin-top:5px;
	border:none;}

div#footer{
	font-size:12px;
	float:left;
	width:100%;
	color:#FFF;
	height:290px;
	margin:0;
	background:#3b7190;}
	
div#footer ul{
	/*border:solid 1px #006;*/
	border-left:solid 1px #999;
	border-left-style:dotted;
	margin:25px auto;
	padding:10px;
	padding-top:0;
	height:180px;
	width:140px;
	float:left;}
	
div#footer ul li{
	border:solid 0px black;
	padding:1px 0;}
	
div#footer ul li a{
	text-decoration:none;
	font-size:11px;	
	color:#FFF;}
	
div#footer ul li a:hover{
	text-decoration:underline;
	color:#000;}

div#footer ul li h4{
	font-size:15px;
	margin:0;
	margin-bottom:10px;}

div#footer p{
	width:1024px;
	margin:5px auto;
	line-height:12px;
	padding-bottom:7px;
	border-bottom:solid 1px #FFF;
	border-bottom-style:dotted;
	float:left;}
	
div#footer2{
	float:left;
	width:1024px;
	height:auto;
	margin-top:-10px;
	background:#bae1eb;}
	
div#footer2 p{
	font-size:14px;
	text-align:center;}	
a.prova{
	margin:10px;}
	
a img#matricula{
	border:solid 1px #000;
	width:300px;
	height:350px;}

a:hover img#matricula{
	border:solid 1px #09F;}

a:hover p#ficha{
	text-decoration:underline;
	color:#09F;}

/******************Parte Espaço do Aluno*************/
img#amazonas{
   margin:35px 0 0 -202px;
   float:left;}
   
img#roraima{
	 margin:0 0 0 150px;
	 float:left;}
			 
img#acre{
	 margin:151px 0 0 -208px;
	 float:left;}
	 
img#para{
	 margin:35px 0 0 -28px;
	 float:left;}
	 
img#amapa{
	 margin:10px 0 0 -100px;
	 float:left;}
	 
img#rondonia{
	 margin:158px 0 0 -246px;
	 float:left;}
	 
img#tocantins{
	 margin:130px 0 0 -56px;
	 float:left;}
	 
img#maranhao{
	 margin:80px 0 0 -25px;
	 float:left;}
	 
img#piaui{
	 margin:105px 0 0 -45px;
	 float:left;}
	 
img#ceara{
	 margin:100px 0 0 -5px;
	 float:left;}
	 
img#rionorte{
	 margin:105px 0 0 -8px;
	 float:left;}
	 
img#paraiba{
	 margin:150px 0 0 -75px;
	 float:left;}
	 
img#pernambuco{
	 margin:10px 0 0 -40px;
	 float:left;}
	 
img#alagoas{
	 margin:33px 0 0 -65px;
	 float:left;}
	 
img#sergipe{
	 margin:42px 0 0 -70px;
	 float:left;}
	 
img#bahia{
	 margin:27px 0 0 -169px;
	 float:left;}
	 
img#matogrosso{
	 margin:0px 0 0 -348px;
	 float:left;}
	 
img#goias{
	 margin:63px 0 0 -250px;
	 float:left;}
	 
img#matosul{
	 margin:118px 0 0 -305px;
	 float:left;}
	 
img#minas{
	 margin:97px 0 0 -227px;
	 float:left;}
	 
img#espirito{
	 margin:145px 0 0 -125px;
	 float:left;}
	 
img#saopaulo{
	 margin:165px 0 0 -250px;
	 float:left;}
	 
img#rio{
	 margin:183px 0 0 -160px;
	 float:left;}
	 
img#parana{
	 margin:200px 0 0 -273px;
	 float:left;}
	 
img#santa{
	 margin:242px 0 0 -265px;
	 float:left;}
				 
img#riosul{
	 margin:258px 0 0 -303px;
	 float:left;}
				 
img#legenda{
	 margin:100px 0 0 -500px ;
	 float:left;}
			 
img#estados{
	 width:550px;
	 height:auto;
	 float:left;
	 margin-top:5px;}
					 
img#estados1{
	 width:430px;
	 height:auto;
	 float:left;
	 margin-top:5px;}
					 
div#aluno{
	 width:550px;
	 height:auto;
	 float:left;
	 margin-top:250px;
	 margin-left:20px;}
	 
div#titulo{
	 border:solid 1px;
	 height:20px;
	 width:auto;
	 float:left;
	 padding-left:10px;
	 padding-right:15px;}
	 
div#content span{
	 font-size:16px;
	 margin-left:5px;
	 float:left;}
		 
div#msg{
	border:solid 1px #999;
	border-style:double;
	border-width:5px;
	text-align:center;
	font-size:12px;	
	width:380px;
	margin:10px auto;
	padding:20px;}

div#msg p{
	color:#333;}

div#msg a{
	margin:0;}
	
div#msg a:hover{
	text-decoration:underline;}
	
div#msg span{
	color:#900;
	font-weight:bold;
	width:100%;
	margin-bottom:5px;}
	
#erro{
	border:solid 1px #900;
	padding:5px 0;
	color:#900;
	font-size:11px;
	margin:10px auto;
	text-align:center;}